@use 'foundation' as *;

.c-section-row {

  & + & {
    margin-top: 10rem;
  }

  p {
    font-weight: 400;
  }

  > * + * {
    margin-top: 4rem;
  }

  &-title {
    padding: 0 0 1rem;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.5;
    border-bottom: 1px solid var(--color-gray);

    span {
      font-size: 2.4rem;
      padding-left: 0.5rem;
    }
  }

  &-text {
    > * + * {
      margin-top: 3rem;
    }
  }

  &-president {
    display: flex;
    align-items: flex-end;
    gap: 3rem;

    img {
      width: 20.7rem;
    }

    .role {
      display: block;
      font-size: 1.4rem;
      line-height: 1;
    }

    .name {
      display: block;
      font-size: 2.4rem;
    }
  }

  &-glbox {
    padding: 3rem;
    font-size: 1.4rem;
    background-color: var(--color-gray-light);

    > * + * {
      margin-top: 2rem;
    }

    &-title {
      margin: 0 0 1rem;
      font-size: 1.6rem;
      font-weight: 500;
    }

    .pl {
      padding-left: 2rem;
    }
  }

  ol {
    list-style: decimal;
    margin: 2rem 0 0;
    padding-left: 2rem;

    li {
      padding-left: 1rem;
      font-weight: 400;
    }
  }

  .c-table {
    margin-top: 2rem;
  }
}