@use 'foundation' as *;

.c-table {
  width: 100%;
  border-collapse: collapse;

  tr {
    &:not(:first-child) {
      th {
        @include mq(sp) {
          border-top: none;
        }
      }
    }
  }

  th, td {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    border: 1px solid var(--color-gray);
    @include mq(sp) {
      padding: 0.5rem 1.5rem;
      display: block;
    }
  }

  th {
    text-align: left;
    background-color: var(--color-gray-light);
    @include mq(ovsp) {
      width: 19.5rem;
    }
    @include mq(sp) {
      border-bottom: none;
    }
  }

  td {

    ul {
      li {
        margin-left: 1em;
        text-indent: -1em;
        &::before {
          content: "●";
        }
      }
    }

   a {
    padding-left: 0.5rem;
    text-decoration: underline;
    transition: color 0.3s ease;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: none;
        color: var(--color-green);
      }
    }
   }
  }

  &-scroll {
    padding-bottom: 0.5rem;
    overflow-x: auto;

    .c-table {
      width: 79.4rem;

      th, td {
        padding: 0.5rem 1rem;
      }

      th {
        color: #FFF;
        background-color: var(--color-green);
        text-align: center;
      }

      &.small {
        width: auto;
      }
    }
  }

  .map {
    margin: 2rem 0 0;
    aspect-ratio: 560 / 200;

    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}