@use 'foundation' as *;

.c-tab {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16.5rem;
    height: 4.8rem;
    padding: 1rem;
    border: 1px solid var(--color-gray);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    @include mq(ovsp) {
      width: 24.8rem;
    }

    &.is-active {
      background-color: var(--color-green);
      color: var(--color-white);
      border-color: var(--color-green);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-green);
        color: var(--color-white);
        border-color: var(--color-green);
      }
    }
  }

  &.en {
    .tab {
      text-transform: capitalize;
    }
  }
}