@use 'foundation' as *;

.c-title {
  &-ja {
    font-size: 2.4rem;
    font-weight: 500;
    @include mq(ovsp) {
      font-size: 3.6rem;
    }

    &.en {
      text-transform: capitalize;
    }
  }

  &-en {
    font-family: var(--font-en);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-green);
    @include mq(ovsp) {
      font-size: 1.5rem;
    }
  }
}