@use 'foundation' as *;

.l-section {
  padding: 6rem 0;
  @include mq(ovsp) {
    padding: 8rem 0;
  }

  &-small {
    padding: 4rem 0 6rem;
    @include mq(ovsp) {
      padding: 6rem 0 8rem;
    }
  }

  &-inner {
    width: 100%;
    max-width: calc(58rem + 1.5rem * 2);
    padding-inline: 1.5rem;
    margin-inline: auto;
    @include mq(ovsp) {
      max-width: calc(120rem + 3rem * 2);
      padding-inline: 3rem;
    }

    &.small {
      @include mq(ovsp) {
        max-width: calc(79.4rem + 3rem * 2);
      }
    }
  }
}
