@use 'foundation' as *;

.p-breadcrumb {
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    font-size: 1.2rem;
    color: var(--color-gray2);

    li {
      &:not(:first-child) {
        &::before {
          content: '／';
          margin-right: 0.2rem;
        }
      }
    }

    a {
      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}