@use 'foundation' as *;

.p-company-tab {
  justify-content: flex-start;

  .tab {
    width: 10.8rem;
    @include mq(ovsp) {
      width: 12.3rem;
    }
  }

  &.en {
    .tab {
      @include mq(ovsp) {
        width: 14rem;
      }
    }
  }
}