@use 'foundation' as *;

.p-contact {
  max-width: 79.4rem;
  margin: 2rem auto 0;

  &-row {
    & + & {
      margin: 4rem 0 0;
    }

    > * + * {
      margin-top: 1rem;
    }

    &.col {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      > * + * {
        margin-top: 0;
      }

      > div {
        > * + * {
          margin-top: 1rem;
        }
      }
    }
  }

  &-title {
    margin: 0 0 2rem;
    font-size: 2.4rem;
    font-weight: 500;
  }

  .required,
  .any {
    display: inline-block;
    padding: 0.1rem 0.5rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: #FFF;
    border-radius: 0.4rem;
    margin-right: 1rem;
  }

  .required {
    background-color: var(--color-red);
  }

  .any {
    background-color: var(--color-gray);
  }

  .radio-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 3rem;
    background-color: var(--color-gray-light);

    label {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
    }
  }

  .checkbox-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 3rem;
    background-color: var(--color-gray-light);

    label {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer;
    }
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  textarea,
  select {
    width: 100%;
    padding: 1rem 2rem;
    border: 2px solid var(--color-gray);
    border-radius: 0.4rem;
  }

  input[type="radio"] {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin: 0;
    background-color: #FFF;
    border: 2px solid var(--color-gray);
    border-radius: 50%;
    vertical-align: -2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;

    &:checked {
      border-color: var(--color-green);

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background: var(--color-green);
      }
    }
  }

  input[type="checkbox"] {
    position: relative;
    width: 2rem;
    height: 2rem;
    margin: 0;
    background-color: #FFF;
    border: 2px solid var(--color-gray);
    vertical-align: -2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;

    &:checked {
      border-color: var(--color-green);

      &::before {
        content: "";
        position: absolute;
        top: 0.3rem;
        left: 0.3rem;
        width: 1rem;
        height: 0.7rem;
        border: solid var(--color-green);
        border-width: 0 0 0.2rem 0.2rem;
        transform: rotate(-45deg);
      }
    }
  }

  select {
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='レイヤー 2' viewBox='0 0 8.02 4.72'%3E%3Cpath d='M7.67.35 4.01 4.01.35.35' data-name='レイヤー 1' style='fill:none;stroke:%23000;stroke-miterlimit:10'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 1rem auto;
    background-position: right 1.5rem center;
    cursor: pointer;
  }

  .post-code {
    display: flex; 
    align-items: center;
    gap: 0.8rem;

    input {
      max-width: 18.5rem;
    }
  }
}

.p-contact-btn {
  position: relative;
  width: fit-content;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1.8rem;
    display: inline-block;
    transform: translateY(-50%);
    width: 0.6rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='レイヤー 2' viewBox='0 0 5.78 8.73'%3E%3Cpath d='m.71.71 3.66 3.66L.71 8.02' data-name='レイヤー 1' style='fill:none;stroke:%23fff;stroke-miterlimit:10;stroke-width:2px'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31.2rem;
    height: 4.8rem;
    padding: 0;
    color: #FFF;
    background-color: var(--color-green);
    border: 1px solid var(--color-green);
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  @media (any-hover: hover) {
    &:hover {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='レイヤー 2' viewBox='0 0 5.78 8.73'%3E%3Cpath d='m.71.71 3.66 3.66L.71 8.02' data-name='レイヤー 1' style='fill:none;stroke:%2364be37;stroke-miterlimit:10;stroke-width:2px'/%3E%3C/svg%3E");
      }

      button {
        color: var(--color-green);
        background-color: #FFF;
      }
    }
  }

  &-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 8rem 0 0;
  }

  &.back-btn {
    &::after {
      left: 1.8rem;
      right: auto;
      background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='レイヤー 2' viewBox='0 0 5.78 8.73'%3E%3Cpath d='M5.07 8.02 1.41 4.37 5.07.71' data-name='レイヤー 1' style='fill:none;stroke:%2364be37;stroke-miterlimit:10;stroke-width:2px'/%3E%3C/svg%3E");
    }

    button {
      background-color: #FFF;
      color: var(--color-green);
      transition: opacity 0.3s ease;
    }

    @media (any-hover: hover) {
      &:hover {
         button {
          opacity: 0.7;
         }
      }
    }
  }
}