@use 'foundation' as *;

.p-history {
  display: grid;
  gap: 0.5rem 2rem;
  @include mq(ovsp) {
    grid-template-columns: max-content 1fr;
  }
  @include mq(sp) {
    font-size: 1.6rem;
  }

  &.fig {
    @include mq(ovsp) {
      grid-template-columns: max-content 1fr 16rem;
    }
  }

  &-year {
    padding-right: 0.5rem;
  }

  p {
    font-weight: 400;
  }

  figure {
    width: 16rem;
    aspect-ratio: 160 / 120;
    overflow: hidden;
    @include mq(sp) {
      margin-inline: auto;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}