@use 'foundation' as *;

.p-organization {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  line-height: 1.5;
  @include mq(ovsp) {
    gap: 1rem;
  }
  @include mq(sp) {
    font-size: 1rem;
  }

  span {
    display: block;
  }

  .row1 {
    grid-column: span 4 / span 4;
  }

  .row2 {
    grid-column: span 4 / span 4;
    grid-row-start: 2;
  }

  .col1 {
    grid-row-start: 3;

    > * + * {
      margin-top: 1rem;
    }
  }

  .col2 {
    grid-column: span 2 / span 2;
    grid-row-start: 3;

    .col {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0.3rem;
      margin: 0.8rem 0 0;
      @include mq(ovsp) {
        gap: 1rem 0;
        margin: 1.5rem 0 0;
      }

      > div {
        > div + div {
          margin-top: 0.5rem;
          @include mq(ovsp) {
            margin-top: 1rem;
          }
        }

        ul {
          padding-left: 1rem;
          @include mq(ovsp) {
            padding-left: 2rem;
          }
        }
      }
    }
  }

  .col3 {
    grid-column-start: 4;
    grid-row-start: 3;

    > * + * {
      margin-top: 0.5rem;
      @include mq(ovsp) {
        margin-top: 1rem;
      }
    }

    > * {
      > * + * {
        margin-top: 0.5rem;
        @include mq(ovsp) {
          margin-top: 1rem;
        }
      }
    }
  }

  .gl1 {
    padding: 0.5rem;
    background-color: #bde3aa;
    @include mq(ovsp) {
      padding: 1rem 2rem;
    }
  }

  .gl2 {
    padding: 0.5rem;
    background-color: #c8eadc;
    @include mq(ovsp) {
      padding: 1rem 2rem;
    }
  }

  .wh1 {
    color: #4a7850;
    background-color: #FFF;
    padding: 0.2rem 0.5rem;
    @include mq(ovsp) {
      padding: 0.5rem 1.5rem;
    }
    @include mq(sp) {
      font-size: 0.8rem;
    }
  }

  ul {
    margin: 0.5rem 0 0;
    @include mq(ovsp) {
      margin: 1rem 0 0;
    }

    li {
      font-size: 0.8rem;
      @include mq(ovsp) {
        font-size: 1.3rem;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        background-color: #FFF;
        border-radius: 50%;
        margin-right: 0.8rem;
      }
    }
  }
}