@use 'foundation' as *;

.p-product-detail {
  .c-link-btn {
    @include mq(sp) {
      font-size: 1.4rem;

      .c-icon.arrow-right {
        width: 1.6rem;
        height: 1.6rem;
      }
    }
  }

  &-inner {
    display: grid;
    gap: 4rem;
    @include mq(ovsp) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &-contents {}

  &-title {
    font-size: 2.8rem;
    font-weight: 500;
    @include mq(ovsp) {
      font-size: 4.2rem;
    }
  }

  &-lead {
    margin: 1rem 0;
    font-size: 1.2rem;
    @include mq(ovsp) {
      margin: 1rem 0 3rem;
      font-size: 1.8rem;
    }
  }

  &-catalogs {
    display: grid;
    gap: 2rem;
  }

  &-future {
    margin: 3rem 0 0;

    &-title {
      font-size: 1.4rem;
      font-weight: 500;
      border-bottom: 1px solid var(--color-gray);
      @include mq(ovsp) {
        font-size: 1.8rem;
      }
    }

    &-text {
      margin: 1rem 0 0;
      @include mq(sp) {
        font-size: 1.1rem;
      }
    }

    &-images {
      // display: flex;
      // align-items: center;
      // justify-content: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 1rem;
      margin: 2rem 0;
      @include mq(ovsp) {
        gap: 2rem;
        margin: 4rem 0;
      }

      figure {
        // aspect-ratio: 167 / 112;
        // overflow: hidden;

        img {
          width: 100%;
          // height: 100%;
          // object-fit: cover;
        }
      }
    }

    .c-link-btn {
      span {
        &::after {
          content: '';
          display: inline-block;
          width: 1.1rem;
          height: 1.1rem;
          margin-left: 0.5rem;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='_レイヤー_2' data-name='レイヤー 2' viewBox='0 0 12 12'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;stroke-linejoin:round%7D%3C/style%3E%3C/defs%3E%3Cg id='_レイヤー_1-2' data-name='レイヤー 1'%3E%3Cpath d='M6.33.5h5.17v5.17M9.5 7.5v4h-9v-9h4M11.5.5l-7 7' class='cls-1'/%3E%3C/g%3E%3C/svg%3E");
          transition: background 0.3s ease;
        }
      }

      @media (any-hover: hover) {
        &:hover {
          span {
            &::after {
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='_レイヤー_2' data-name='レイヤー 2' viewBox='0 0 12 12'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%2364be37;stroke-linejoin:round%7D%3C/style%3E%3C/defs%3E%3Cg id='_レイヤー_1-2' data-name='レイヤー 1'%3E%3Cpath d='M6.33.5h5.17v5.17M9.5 7.5v4h-9v-9h4M11.5.5l-7 7' class='cls-1'/%3E%3C/g%3E%3C/svg%3E");
            }
          }
        }
      }
    }
  }

  &-images {
    &-main {
      width: 100%;
      // aspect-ratio: 345/ 231;
      border: 1px solid var(--color-gray);
    }

    &-thumbnail {
      max-width: 27rem;
      margin: 2rem auto 0;
      @include mq(ovsp) {
        max-width: calc(534 / 580 * 100%);
      }
    }

    .splide__slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .splide__slide img {
      width: auto;
      height: 100%;
    }

    .splide__track--nav>.splide__list>.splide__slide {
      border: 1px solid var(--color-gray);
    }

    .splide__track--nav>.splide__list>.splide__slide.is-active {
      border: 2px solid var(--color-green);
    }
  }
}