@use 'foundation' as *;

.p-technology-tab {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24.8rem;
    height: 4.8rem;
    padding: 1rem;
    border: 1px solid var(--color-gray);
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

    &.is-active {
      background-color: var(--color-green);
      color: var(--color-white);
      border-color: var(--color-green);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-green);
        color: var(--color-white);
        border-color: var(--color-green);
      }
    }
  }
}

.p-technology-panel {
  margin: 8rem 0 0;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1.8rem;
    @include mq(tb) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mq(sp) {
      grid-template-columns: repeat(1, 1fr);
    }

    a {
      display: block;
      padding: 2rem;
      border-radius: 1.2rem;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
      border: 2px solid transparent;
      transition: border-color 0.3s ease;
      
      @media (any-hover: hover) {
        &:hover {
          border-color: var(--color-green);
        }
      }

      h2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding-inline: 1rem;
        margin: 3rem 0 0;
        font-size: 2rem;
        line-height: 1.5;
        font-weight: 500;

        .small {
          font-size: 1.6rem;
        }
      }
    }
  }
}