@use 'foundation' as *;

.p-technology-tab {}

.p-technology-panel {
  margin: 4rem 0 0;
  @include mq(ovsp) {
    margin: 8rem 0 0;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 1.8rem;
    @include mq(tb) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mq(sp) {
      grid-template-columns: repeat(1, 1fr);
    }

    a {
      display: block;
      padding: 2rem;
      border-radius: 1.2rem;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
      border: 2px solid transparent;
      transition: border-color 0.3s ease;
      
      @media (any-hover: hover) {
        &:hover {
          border-color: var(--color-green);
        }
      }

      h2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        margin: 3rem 0 0;
        font-size: 1.8rem;
        line-height: 1.5;
        font-weight: 500;
        @include mq(ovsp) {
          padding-inline: 1rem;
          font-size: 2rem;
        }

        .small {
          font-size: 1.4rem;
          @include mq(ovsp) {
            font-size: 1.6rem;
          }
        }
      }

      .c-icon.arrow-right {
        @include mq(sp) {
          width: 2rem;
          height: 2rem;

          &::after {
            width: 0.5rem;
            height: 0.9rem;
          }
        }
      }
    }
  }
}