@use 'foundation' as *;

.p-technology-classroom {

  &-row {
    & + & {
      margin: 6rem 0 0;
      @include mq(ovsp) {
        margin: 10rem 0 0;
      }
    }

    h2 {
      margin: 0 0 2rem;
      padding: 0 0 1rem;
      font-size: 2.4rem;
      line-height: 1.5;
      font-weight: 500;
      border-bottom: 1px solid var(--color-gray);
      @include mq(ovsp) {
        margin: 0 0 3rem;
        font-size: 3.6rem;
      }
    }

    h3 {
      font-size: 1.8rem;
      line-height: 1.5;
      font-weight: 500;
      margin: 0 0 1rem;
      @include mq(ovsp) {
        font-size: 2.4rem;
      }
    }

    > * + * {
      margin: 2rem 0 0;
      @include mq(ovsp) {
        margin: 3rem 0 0;
      }
    }

    p {
      font-weight: 400;

      &.indent {
        margin-top: 1rem;
        margin-left: 1.4em;
        text-indent: -1.4em;
      }
    }

    > figure {
      width: fit-content;
      margin-inline: auto;
      border: 1px solid var(--color-gray);

      &.non-border {
        border: none;
      }
    }

    ul {
      display: grid;
      gap: 1rem;
      margin-left: 1.6rem;

      li {
        list-style: disc;
        font-weight: 400;
      }
    }

    ol {
      display: grid;
      gap: 1rem;
      margin-left: 1.6rem;

      li {
        list-style: decimal;
        font-weight: 400;

        > ol, > ul {
          margin-top: 1rem;
        }
      }

      ul {
        li {
          list-style: disc;
        }
      }
    }

    .gray-box {
      padding: 2rem;
      margin: 1rem 0 0;
      background-color: var(--color-gray-light);

      h4 {
        margin: 0 0 1rem; 
        font-size: 1.6rem;
        font-weight: 500;
        @include mq(ovsp) {
          margin: 0 0 2rem; 
          font-size: 2rem;
        }
      }
    }

    .col {
      display: flex;
      gap: 0 1rem;
      @include mq(ovsp) {
        gap: 0 2rem;
      }

      figure {
        flex-shrink: 0;
      }

      &.sp-row {
        @include mq(sp) {
          flex-direction: column;
          justify-content: center;
          gap: 1rem;

          figure {
            text-align: center;
          }
        }
      }
    }

    .image-col {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }

  .image-text {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 2rem;
  }

  &.classroom08 {
    .c-table {
      width: 77.8rem;

      &.right {
        ul {
          display: initial;

          li {
            margin-left: 2rem;
            text-indent: initial;

            &::before {
              display: none;
            }
          }
        }
      }
    }

    .image-col {
      align-items: flex-end;
      gap: 2rem 5rem;
      margin: 2rem 0 0;

      .yoko {
        display: flex;
        align-items: flex-end;
        gap: 2rem;
      }
    }
  }
}