@use 'foundation' as *;

.p-top {
  &-mv {
    position: relative;
  
    &-image {
      position: relative;
    }
  
    &-inner {
      position: absolute;
      top: 0;
      left: 50%;
      width: calc(1200 / 1600 * 100vw);
      height: 100%;
      transform: translateX(-50%);
    }
  
    &-title {
      position: absolute;
      top: calc(166 / 1600 * 100vw);
      left: calc(230 / 1600 * 100vw);
      font-size: calc(80 / 1600 * 100vw);
      font-weight: 900;
      line-height: calc(110/80);
      color: #FFF;
      text-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
    }
  }

  &-company {
    padding-top: 6rem;

    &-text {
      font-family: var(--font-biz);
      font-size: clamp(2.2rem, calc(28 / 1000 * 100vw), 2.8rem);
      line-height: calc(54/28);
      letter-spacing: 0.1em;
      text-align: center;
    }

    &-btn {
      margin: 8rem auto 0;
      
      .c-btn {
        margin-inline: auto;
      }
    }
  }

  &-news {
    background-color: var(--color-gray-light);

    &-inner {
      display: grid;
      grid-template-areas: "title btn"
      "list list";
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr;
      align-items: end;
      gap: 5rem;
      @include mq(ovsp) {
        grid-template-areas: "title list"
        "btn list";
        grid-template-columns: 15rem 1fr;
        grid-template-rows: min-content 1fr;
        align-items: start;
        gap: 3rem 26rem;
      }
      @include mq(md) {
        gap: 3rem calc(260 / 1600 * 100vw);
      }
      @include mq(tb) {
        gap: 3rem calc(150 / 1600 * 100vw);
      }
    }

    .c-title {
      grid-area: title;
    }

    &-list {
      display: grid;
      gap: 4rem;
      grid-area: list;
    }

    &-item {
      display: grid;
      grid-template-areas: "date category"
      "title title";
      grid-template-columns: max-content 1fr;
      grid-template-rows: min-content 1fr;
      align-items: center;
      gap: 1rem 2rem;
      @include mq(ovsp) {
        grid-template-areas: "date category title";
        grid-template-columns: max-content auto 1fr;
        gap: 3rem;
      }

      &-date {
        grid-area: date;
        color: var(--color-gray2);
        font-size: 1.4rem;
      }

      &-category {
        grid-area: category;
        padding: 0.5rem 1rem;
        border-radius: 0.4rem;
        color: var(--color-green);
        background-color: #FFF;
        border: 1px solid var(--color-green);
        font-size: 1.4rem;
      }

      &-title {
        grid-area: title;
        position: relative;
        font-size: 1.6rem;
        padding-right: 3rem;
        @include mq(ovsp) {
          padding-right: 5rem;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          display: inline-block;
          transform: translateY(-50%);
          width: 0.6rem;
          height: 1rem;
          background: no-repeat 50% 50% / contain;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='レイヤー 2' viewBox='0 0 4.51 8.02'%3E%3Cpath d='m.35.35 3.66 3.66L.35 7.67' data-name='レイヤー 1' style='fill:none;stroke:%23000;stroke-linejoin:round'/%3E%3C/svg%3E");
          @include mq(ovsp) {
            right: 1.8rem;
          }
        }
      }
    }

    &-btn {
      grid-area: btn;
    }
  }

  &-products {
    &-inner {
      position: relative;
      max-width: 192rem;
      margin-inline: auto;
      z-index: 1;
    }

    &-header {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    &-contents {
      width: 100%;
      @include mq(ovsp) {
        width: calc(580 / 1200 * 100%);
      }
      @media (min-width: 1081px) and (max-width: 1260px) {
        width: calc(500 / 1260 * 100vw);
      }
      @media (min-width: 768px) and (max-width: 1080px) {
        width: 58rem;
        margin-inline: auto;
      }
    }

    &-image {
      position: relative;
      width: 100%;
      aspect-ratio: 800 / 600;
      margin: 3rem 0 0;
      border-radius: 30rem 0 0 30rem;
      overflow: hidden;
      @include mq(pc) {
        width: 80rem;
        height: 60rem;
      }
      @media (min-width: 1081px) {
        position: absolute;
        top: 6rem;
        right: 0;
        width: clamp(63rem, calc(800 / 1600 * 100vw), 80rem);
        height: clamp(47.2rem, calc(600 / 1600 * 100vw), 60rem);
        margin: 0;
        z-index: -1;
      }

      &.is-pc {
        @media (max-width: 1080px) {
          display: none;
        }
      }

      &.is-sp {
        @media (min-width: 1081px) {
          display: none;
        }
      }
      

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30rem 0 0 30rem;
        transition: transform 0.3s ease;
        transform: scale(1);
      }

      &-text {
        position: absolute;
        bottom: -1rem;
        right: 0;
        font-family: var(--font-en);
        font-size: min(calc(40 / 375 * 100vw), 6.6rem);
        font-weight: 700;
        line-height: 1;
        color: #FFF;
        text-transform: uppercase;
        @include mq(ovsp) {
          bottom: -1.8rem;
          font-size: 12rem;
        }
        @media (min-width: 768px) and (max-width: 1080px) {
          bottom: -1.2rem;
          font-size: 7rem;
        }
      }
    }

    &-list {
      margin: 3rem 0 0;
    }

    &-item {
      padding: 2rem 0;
      border-bottom: 1px solid var(--color-gray);

      &-inner {
        display: flex;
        align-items: center;
        gap: 2rem;
        @include mq(ovsp) {
          gap: 4rem;
        }
      }

      &:first-child {
        border-top: 1px solid var(--color-gray);
      }

      a {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          display: inline-block;
          transform: translateY(-50%);
          width: 0.6rem;
          height: 1rem;
          background: no-repeat 50% 50% / contain;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-name='レイヤー 2' viewBox='0 0 4.51 8.02'%3E%3Cpath d='m.35.35 3.66 3.66L.35 7.67' data-name='レイヤー 1' style='fill:none;stroke:%23000;stroke-linejoin:round'/%3E%3C/svg%3E");
        }
      }

      &-number {
        flex-shrink: 0;
        font-family: var(--font-en);
        font-size: 6.4rem;
        color: var(--color-green);
      }

      &-content {
        width: 100%;

        > a {
          display: block;
          width: 100%;
          padding-right: 5rem;

          &::after {
            top: auto;
            right: 1.8rem;
            bottom: 0.2rem;
          }
        }
      }

      &-title {
        font-size: 2.4rem;
        font-weight: 500;

        span {
          font-size: 1.4rem;
        }
      }

      &-text {
        color: var(--color-gray2);
        font-size: 1.4rem;
      }

      &-col {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 1rem 0 0;

        a {
          font-size: 1.4rem;
          padding-right: 1.8rem;
        }

        a[target="_blank"] {
          &::after {
            width: 1.1rem;
            height: 1.1rem;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='_レイヤー_2' data-name='レイヤー 2' viewBox='0 0 12 12'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:none;stroke:%23000;stroke-linejoin:round%7D%3C/style%3E%3C/defs%3E%3Cg id='_レイヤー_1-2' data-name='レイヤー 1'%3E%3Cpath d='M6.33.5h5.17v5.17M9.5 7.5v4h-9v-9h4M11.5.5l-7 7' class='cls-1'/%3E%3C/g%3E%3C/svg%3E");
          }
        }
      }
    }
  }

  &-link {
    &-row {
      display: grid;
      gap: 3rem;
      @include mq(ovsp) {
        gap: 4rem;
      }
    }

    &-btn {
      position: relative;
      display: block;
      min-height: 18rem;
      border-radius: 1.2rem;
      overflow: hidden;
      @include mq(ovsp) {
        min-height: 26rem;
        border-radius: 2.4rem;
      }

      &.contact {
        .p-top-link-btn-title,
        .p-top-link-btn-text {
          color: #FFF;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right center;
        border-radius: 1.2rem;
        @include mq(ovsp) {
          border-radius: 2.4rem;
        }
      }

      &-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
        padding: 0 2rem;
        @include mq(ovsp) {
          padding: 0 8rem 0 7rem;
        }
        @media (min-width: 768px) and (max-width: 1080px) {
          padding: 0 4rem 0 3rem;
        }
      }

      &-title {
        font-size: 2.4rem;
        font-weight: 500;
        @include mq(ovsp) {
          font-size: 3.6rem;
        }

        .c-icon {
          margin-left: 1rem;
        }
      }

      &-text {
        color: var(--color-green);
        font-size: 1.4rem;
        @include mq(ovsp) {
          font-size: 1.6rem;
        }
      }

      &-en {
        flex-shrink: 0;
        font-family: var(--font-en);
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #FFF;
        @include mq(ovsp) {
          font-size: 5.4rem;
        }
      }
    }
  }
}
