@use 'foundation' as *;

.u-color-white {
  color: var(--color-white);
}
.u-color-black {
  color: var(--color-black);
}
.u-color-gray {
  color: var(--color-gray);
}
.u-color-red {
  color: var(--color-red);
}
.u-color-blue {
  color: var(--color-blue);
}
.u-color-green {
  color: var(--color-green);
}
.u-color-yellow {
  color: var(--color-yellow);
}
.u-color-orange {
  color: var(--color-orange);
}
.u-color-purple {
  color: var(--color-purple);
}
.u-color-pink {
  color: var(--color-pink);
}
